@CHARSET "ISO-8859-1";

body {
	padding-top: 70px; /* for Bootstrap's fixed top header bar */
}

.fb-like {
    padding-left: 15px;
}

.note-name {
	margin: 2px;
	font-style: italic;
}

.chord-sample {
	margin: 6px 4px;
	display: inline-block;
	width: 120px;
	height: 200px;
}

.fretboard {
	display: inline-block;
	width: 800px;
	height: 120px;
}

.fret {
    stroke-width: 1px;
    stroke: #000;
}

.fretdot {
    stroke-width: 1px;
    fill: #888;
}
.fretdot.open {
    fill: white;
}
.fretdot.highlight {
    fill: #05F;
}
.fret-marker {
    stroke-width: 0px;
    fill: #CCC
}
.fretdot-finger {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    stroke-width: 1px;
    font-size: 10px;
    stroke: #000;
}

.string {
    stroke-width: 1px;
    stroke: #000;
}

.chord-position {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    stroke-width: 1px;
    font-size: 10px;
}

chord-fingering-list chord-fingering-view svg {
  cursor: pointer;
}

chord-fingering-list chord-fingering-view svg circle.fretdot {
  transition: fill 0.5s ease;
}

chord-fingering-list chord-fingering-view:hover svg circle.fretdot {
  fill: rgb(69, 130, 236);
}
