@CHARSET "ISO-8859-1";

body {
	padding-top: 70px; /* for Bootstrap's fixed top header bar */
}

.note-name {
	margin: 2px;
	font-style: italic;
}

.chord-sample {
	margin: 6px 4px;
	display: inline-block;
	width: 120px;
	height: 200px;
}

.fretboard {
	display: inline-block;
	width: 800px;
	height: 120px;
}

.fret {
    stroke-width: 1px;
    stroke: #000;
}

.fretdot {
    stroke-width: 1px;
    fill: #888;
}
.fretdot.open {
    fill: white;
}
.fretdot.highlight {
    fill: #05F;
}

.string {
    stroke-width: 1px;
    stroke: #000;
}

.chord-position {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    stroke-width: 1px;
    font-size: 10px;
}

.welcome-message {
    overflow-y: hidden;
    max-height: 200px; /* approximate max height */

    -webkit-transition:all linear 0.25s;
    transition:all linear 0.25s;
}

.welcome-message.ng-hide {
    max-height: 0;
}

chord-fingering-list chord-fingering-view {
  cursor: pointer;
}

chord-fingering-list chord-fingering-view:hover svg {
  zoom: 1.1;
}