<div class="container" ng-controller="chordDetails">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 ng-bind-html="trust(chordName)">
            </h4>
            <tuning-hint instrument="selectedInstrument">
            </tuning-hint>
        </div>
    </div>

    <fretboard-view instrument="selectedInstrument"
                    chord-fingering="selectedChordFingering">
    </fretboard-view>

    <br/>
    <br/>
    <!--<div class="row">-->
        <div class="chord-sample">
            <chord-fingering-view
                    fingering="selectedChordFingering"
                    render-mode="diagram">
            </chord-fingering-view>
        </div>
        <div class="chord-sample">
            <chord-fingering-view
                    fingering="selectedChordFingering"
                    render-mode="notes">
            </chord-fingering-view>
        </div>
    <!--</div>-->
    <br/>
</div>
