<div class="container" ng-controller="main">

    <div class="jumbotron welcome-message"
      	ng-hide="!showWelcome"
        ng-animate>
        <h1>Welcome to Conchordance.</h1>
    </div>

   <div class="panel panel-default">

       <div class="panel-heading">
           <h4>Chord Explorer</h4>
       </div>

       <div class="panel-body">

           <form ng-submit="findChords()" role="form" class="form">

               <div class="row">
                   <div class="col-sm-4">
                       <div class="form-group">
                           <label class="control-label">
                               Instrument
                           </label>
                           <instrument-selector instruments="instruments"
                                   selected-instrument="selections.instrument">
                           </instrument-selector>
                           <tuning-hint instrument="selections.instrument"></tuning-hint>
                       </div>
                   </div>

                   <div class="col-sm-2">
                       <div class="form-group">
                           <label class="control-label">
                               Root
                           </label>
                           <note-selector selected-note="selections.root"></note-selector>
                       </div>
                   </div>

                   <div class="col-sm-2">
                       <div class="form-group">
                           <label class="control-label">
                               Chord Type
                           </label>
                           <chord-type-selector types="chordTypes" selected-type="selections.chordType"></chord-type-selector>
                           <span class="note-name text-muted"
                                 ng-repeat="interval in selections.chordType.intervals"
                                 ng-bind-html="interval | scaleDegree">
                           </span>
                       </div>
                   </div>

                   <div class="col-sm-4">
                       <br/>
                       <button type="submit" class="btn btn-primary" ng-disabled="searchInProgress">
                           Find Chords <i class="fa" ng-class="{'fa-refresh': searchInProgress, 'fa-spin': searchInProgress}"></i>
                       </button>
                   </div>
               </div>
           </form>
       </div>
   </div>
       
	<fretboard-view
            instrument="selections.instrument"
            fretboard="fretboard">
	</fretboard-view>

	<div class="text-muted pull-right" ng-show="chordFingerings.length > 0">
		{{chordFingerings.length}} chords found</div>
	<br/>
	<br/>
    <chord-fingering-list
        chord-fingerings="chordFingerings"
        chord-fingering-clicked="chordFingeringSelected">
    </chord-fingering-list>
</div>