<div class="container" ng-controller="chordDetails">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 ng-bind-html="trust(chordName)"></h4>
        </div>
        <div class="panel-body">
            <chord-fingering-notes chord-fingering="selections.chordFingering"></chord-fingering-notes>
            <br/>
            <inversion-text chord-fingering="selections.chordFingering"></inversion-text>
        </div>
    </div>

    <tuning-hint instrument="selections.instrument" class="pull-right"></tuning-hint>
    <fretboard-view instrument="selections.instrument"
                    chord-fingering="selections.chordFingering">
    </fretboard-view>

    <br/>
    <br/>
    <div class="row">
        <chord-fingering-view
                fingering="selections.chordFingering"
                display-mode="diagram">
        </chord-fingering-view>
        <chord-fingering-view
                fingering="selections.chordFingering"
                display-mode="notes">
        </chord-fingering-view>
        <chord-fingering-view
                fingering="selections.chordFingering"
                display-mode="tab">
        </chord-fingering-view>
    </div>
    <br/>
</div>
