<div class="container">

	<div ng-controller="instrument">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Instrument Explorer</h4>
			</div>

			<div class="panel-body">
				<div class="form-group">
				    <label class="control-label">
				        Instrument
				    </label>
				    <select ng-model="selectedInstrument"
				            ng-options="i.name for i in instruments"
				            ng-change="instrumentSelected()"
				            class="form-control">
				        <option value=""> -- Select an Instrument -- </option>
				    </select>
				    <tuning-hint instrument="selectedInstrument">
				    </tuning-hint>
				</div>
				<br/>
				<fretboard-view></fretboard-view>
				<br/>
				<br/>				
				<scale-staff></scale-staff>
			</div>
		</div>
	</div>
</div>
