<div class="container">

	<div ng-controller="instrument">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Instrument Explorer</h4>
			</div>

			<div class="panel-body">
				<div class="form-group">
				    <label class="control-label">
				        Instrument
				    </label>
				    <instrument-selector instruments="instruments" selected-instrument="selections.instrument"></instrument-selector>
				    <tuning-hint instrument="selections.instrument"></tuning-hint>
				</div>
				<br/>
				<fretboard-view instrument="selections.instrument"></fretboard-view>
				<br/>
				<br/>				
				<scale-staff></scale-staff>
			</div>
		</div>
	</div>
</div>
