<div class="container" ng-controller="main">

    <div class="jumbotron welcome-message"
      	ng-hide="!showWelcome"
        ng-animate>
        <h1>Welcome to Conchordance.</h1>
    </div>

       <div class="panel panel-default">

           <div class="panel-heading">
               <h4>Chord Explorer</h4>
           </div>

           <div class="panel-body">

               <form ng-submit="findChords()" role="form" class="form">

                   <div class="row">
                       <div class="col-sm-4">

                           <div class="form-group">
                               <label class="control-label">
                                   Instrument
                               </label>
                               <select ng-model="selectedInstrument"
                                       ng-options="i.name for i in instruments"
                                       ng-change="instrumentSelected()"
                                       class="form-control">
                                   <option value=""> -- Select an Instrument -- </option>
                               </select>
                               <span class="note-name text-muted"
                                     ng-repeat="note in selectedInstrument.tuning"
                                     ng-bind-html="noteNameHtml(note)">
                               </span>
                           </div>

                       </div>
                       <div class="col-sm-2">

                           <div class="form-group">
                               <label class="control-label">
                                   Chord Type
                               </label>
                               <select ng-model="selectedChordType"
                                       ng-options="t.name for t in chordTypes"
                                       class="form-control">
                                   <option value=""> -- Select a Chord Type -- </option>
                               </select>
                               <span class="note-name text-muted"
                                     ng-repeat="interval in selectedChordType.intervals"
                                     ng-bind-html="intervalNameHtml(interval)">
                               </span>
                           </div>

                       </div>
                       <div class="col-sm-2">
                           <div class="form-group">
                               <label class="control-label">
                                   Root
                               </label>
                               <select ng-model="selectedRoot"
                                       ng-options="n for n in notes"
                                       class="form-control">
                                   <option value=""> -- Select Root -- </option>
                               </select>
                           </div>

                       </div>

                       <div class="col-sm-4">
                           <br/>
                           <button type="submit" class="btn btn-primary" ng-disabled="searchInProgress">Find Chords <i class="fa" ng-class="{'fa-refresh': searchInProgress, 'fa-spin': searchInProgress}"></i></button>
                       </div>
                   </div>
               </form>
           </div>
       </div>
       
	<fretboard-view></fretboard-view>

	<div class="text-muted pull-right" ng-show="chordFingerings.length > 0">
		{{chordFingerings.length}} chords found</div>
	<br/>
	<br/>
	<div class="row">
		<div ng-repeat="fingering in chordFingerings"
			class="chord-sample"
			ng-click="chordFingeringSelected(fingering)">
			<chord-fingering-view fingering="fingering"></chord-fingering-view>
		</div>
	</div>
	<br/>
</div>