Welcome to Conchordance.

<div ng-controller="main">
    <form ng-submit="findChords()">
        <div class="form-section">
            Instrument
            <select ng-model="selectedInstrument"
                    ng-options="i.name for i in instruments">
                <option value=""> -- Select an Instrument -- </option>
            </select>
			<span class="note-name"
                  ng-repeat="note in selectedInstrument.tuning"
                  ng-bind-html="noteNameHtml(note)">
			</span>
        </div>

        <div class="form-section">
            Root
            <select ng-model="selectedRoot"
                    ng-options="n for n in notes">
                <option value=""> -- Select Root -- </option>
            </select>
        </div>

        <div class="form-section">
            Chord Type
            <select ng-model="selectedChordType"
                    ng-options="t.name for t in chordTypes">
                <option value=""> -- Select a Chord Type -- </option>
            </select>
			<span class="note-name"
                  ng-repeat="interval in selectedChordType.intervals"
                  ng-bind-html="intervalNameHtml(interval)">
			</span>
        </div>

        <button type="submit">Find Chords</button>
    </form>

    <div class="chord-sample"
         ng-repeat="fingering in chordFingerings">
        <div>frets: {{fingering.absoluteFrets}}</div>
        <div>notes:
			<span class="note-name"
                  ng-repeat="intNote in fingering.sortedNotes"
                  ng-bind-html="noteNameHtml(intNote.note)" >
			</span>
        </div>
    </div>
</div>