<div class="container">

	<div ng-controller="chordTheory">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Chord Theory Explorer</h4>
			</div>

			<div class="panel-body">
				<div class="row">				
					<div class="col-sm-2">
						<div class="form-group">
	                        <label class="control-label">Root</label>
	                        <note-selector selected-note="selections.root"></note-selector>
	                    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label">Chord Type</label>
							<chord-type-selector types="chordTypes" selected-type="selections.chordType"></chord-type-selector>
						</div>
					</div>
				</div>
				<div class="row">				
					<div class="col-sm-4">
						<label class="control-label">Intervals in Chord</label>
						<br></br>
						<span class="note-name"
							ng-repeat="interval in selections.chordType.intervals"
							ng-bind-html="interval | scaleDegree">
						</span>
					</div>
				</div>
				<div class="row">				
					<div class="col-sm-2">
						<div class="form-group">
	                        <label class="control-label">Notes</label>
	                        <br></br>
	                        <span class="note-name"
	                             ng-repeat="note in selectedChord.notes"
	                             ng-bind-html="note | noteName" >
                        	</span>
	                    </div>
	                    <scale-staff></scale-staff>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
