@CHARSET "ISO-8859-1";

body {
    padding-top: 70px; /* for Bootstrap's fixed top header bar */
}

.note-name {
	margin: 2px;
    font-style: italic;
}

.chord-sample {
	margin: 2px;
	display: inline-block;
}
